@model ReservationModel


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/ReservationDesign.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/CustomerPopup.css" asp-append-version="true" />


<form method="post" class="popup-form" id="reservation-create">
    <!-- <input asp-for="Id" hidden /> -->
    <div class="border p-3 mt-4 popup-form-div">
    <div class="row pb-2">
        <h2 class ="text-primary">Make Reservation</h2>
    </div>
    @*<div class="mb-3 id-place">
        <label  asp-for="Id"></label>
        <input asp-for="Id" type="text" class="form-control">
    </div>*@
    <div class="input-group mb-3 input-group-customer">
        <select asp-for="SelectedCustomerId" class="form-control" asp-items="Model.CustomerSelectList">
                <option></option>
        </select>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" onclick="ShowPopup()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
            </button>
        </div>
    </div>
    <div class="date-input-group">
        <div class="mb-3">
            <label asp-for="From"></label>
            <input asp-for="From" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="To"></label>
            <input asp-for="To" class="form-control">
        </div>
    </div>

    <div class="room-price-group">
        <div class="mb-3 input-room">
            <label  asp-for="SelectedRoomId"></label>
            <select asp-for="SelectedRoomId" class="form-control" asp-items="Model.RoomSelectList">
                <option></option>
        </select>
        </div>
        <div class="mb-3 input-price">
            <label asp-for="Price"></label>
            <input asp-for="Price" type="text" class="form-control">
        </div>
    </div>

    <div class="buttons-group create-button-group">
        <button type="submit" class="btn btn-primary btn-create" value="Edit" name="action:Edit" >Create</button>
        <a asp-controller="Reservation" asp-action="GetReservations" class="btn btn-secondary" >Back To List</a>
    </div>

    </div>
</form>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="ClosePopup()" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Details</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="ClosePopup()">Close</button>
                </div>
            </div>
        </div>
    </div>


<script>
    function ShowPopup() {
        $.get("@Url.Action("ShowpopUp","Reservation")/",
            function (data) {
                $('.modal-body').html(data);
            });

        $("#myModal").modal("toggle");
    }
    function ClosePopup() {
        $("#myModal").modal("hide");
        
    }
</script>